<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login Auth</title>
</head>
<body>
    <header class="header__section">
        <nav>
            <ul class="header__section-ul">
                <li class="header__section-link"><a href="/">Home</a></li>
                <li class="header__section-link"><a href="/about">About</a></li>
                <li class="header__section-link"><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>