/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */
html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, rgb(211, 186, 234), rgb(67, 67, 238));
}
.err-msg{
  color: red;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
.button__sub {
  display: block;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  background-color: green;
  width: 30%;
  border-radius: 10px;
  margin: auto;
  padding: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.button__sub:hover{
  opacity: .7;
}
li{
    list-style: none;
}

.form__div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(54, 53, 53, 0.553);
    border: 3px white solid;
    width: 40%;
    min-width: 450px;
    height: auto;
    border-radius: 30px;
    margin: auto;
    margin-top: 4%;
    padding: 30px;
    padding:1rem ;
  }

  input,
  textarea,
  select {
    font-size: 1.3rem;
    border-radius: 15px;
    color: white;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.482);
    border: none;
    outline: none;
  }
  
  label {
    padding: 1rem;
  }
  
  input:focus,
  select:focus {
    background-color: whitesmoke;
    color: #000;
  }
  
  input::-moz-placeholder {
    color: whitesmoke;
  }
  
  input::placeholder {
    color: whitesmoke;
  }
  
  input:focus::-moz-placeholder, select:focus::-moz-placeholder {
    color: #000;
  }
  
  input:focus::placeholder,
  select:focus::placeholder {
    color: #000;
  }

  button {
    border: none;
    outline: none;
  }
  
  a {
    text-decoration: none;
  }
/* Header */
.header__section{
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: blueviolet;
}

.header__section-ul{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    padding: 1rem;
    margin: auto;
    color: whitesmoke;
}

.header__section-link a{
    color: whitesmoke;
}

.header__section-link a:hover{
    color: lightblue;
    transition: .4s;
}

/* Home  */
.home__section{
    width: 50%;
    margin:auto;
    margin-top: 10%;
    color: whitesmoke;
    text-align: center;
}

.home__section h1{
    font-size: 5rem;
    font-weight: 500;
}

.home__section-btns{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.home__section-btns a{
    background-color: blue;
}
/* Login/Sigin Up */
  .login_bd .login__title {
    padding-bottom: 1rem;
    text-align: center;
  }
  .login_bd .form-div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .login_bd .fr-div {
    margin: 0;
  }
  .login_bd .dn-acc {
    text-align: center;
    font-size: 1rem;
    padding-top: 5px;
  }
  .login_bd .button__a:hover {
    color: rgb(182, 182, 244);
    transform: scale(1.03);
  }
.btn-cont{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* Post */
.post__section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
  padding: 2rem;
  flex-direction: column;
}

.post__section h1{
  font-size: 5rem;
  font-weight: 500;
  padding: 1rem;
}

/* About Section */
.about__section{
  padding: 1rem;
  color: whitesmoke;
}

.header__primary{
  font-size: 5rem;
  font-weight: 500;
  color: gray;
  padding-bottom: 1rem;
}

p{
  line-height: 2rem;
  font-size: 1.7rem;
}