<%- include("partials/header"); -%>

<section class="about__section">
    <h1 class="header__primary">About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui atque velit debitis magni rem? Velit voluptas dolore dolorum error assumenda illum aliquid, numquam aut rerum beatae iusto itaque inventore laborum!
    Sapiente nihil accusamus animi natus odio porro voluptate iure labore expedita nulla. Sint minima officia sit dolores quam, provident possimus quibusdam labore, voluptatibus asperiores, sequi eaque pariatur et perferendis molestias.
    Fuga iusto nostrum quis nemo placeat earum, quod repudiandae est deserunt harum recusandae assumenda vero aliquam adipisci eos veniam. Fugit harum nulla molestiae error! Ab impedit nihil maxime corrupti nemo?
    Fuga iusto nostrum quis nemo placeat earum, quod repudiandae est deserunt harum recusandae assumenda vero aliquam adipisci eos veniam. Fugit harum nulla molestiae error! Ab impedit nihil maxime corrupti nemo?
    Fuga iusto nostrum quis nemo placeat earum, quod repudiandae est deserunt harum recusandae assumenda vero aliquam adipisci eos veniam. Fugit harum nulla molestiae error! Ab impedit nihil maxime corrupti nemo?</p>
</section>

<%- include("partials/footer"); -%>