<%- include("partials/header"); -%>

<section class="home__section">
    <h1>Welcome</h1>
    <span class="home__section-btns">
        <a href="/login" class="button__sub">Log In</a>
        <a href="/signup" class="button__sub">Sign Up</a>
    </span>
</section>

<%- include("partials/footer"); -%>