<%- include("partials/header"); -%>

<section class="post__section">
    <h1 class="header__primary">Welcome <%= username %></h1>
    <h2>Your secret is: <%= post %></h2>
</section>

<%- include("partials/footer"); -%>